import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.5/firebase-app.js";
import { getAuth, createUserWithEmailAndPassword, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.12.5/firebase-auth.js";

// تكوين Firebase
const firebaseConfig = {
  apiKey: "AIzaSyBwIhzy0_RBqhMBlvJxbs5_760jP-Yv2fw",
  authDomain: "facebookweb-2030.firebaseapp.com",
  projectId: "facebookweb-2030",
  storageBucket: "facebookweb-2030.appspot.com",
  messagingSenderId: "865676249313",
  appId: "1:865676249313:web:8c19b685c42db47ad2cfa0",
  measurementId: "G-V7RQWTVDLG"
};

// تهيئة التطبيق
const app = initializeApp(firebaseConfig);
const auth = getAuth(app);

// عناصر واجهة المستخدم
const loginForm = document.getElementById('login-form');
const signUpButton = document.getElementById('sign-up-button');
const messageContainer = document.querySelector('.message');

// وظيفة عرض الرسائل
function showMessage(message) {
    const messageElement = document.createElement('p');
    messageElement.textContent = message;
    messageContainer.appendChild(messageElement);
    setTimeout(() => messageElement.remove(), 3000); // حذف الرسالة بعد 3 ثوانٍ
}

// التعامل مع تسجيل الدخول
loginForm.addEventListener('submit', async (e) => {
    e.preventDefault();
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    try {
        await signInWithEmailAndPassword(auth, email, password);
        showMessage('تم تسجيل الدخول بنجاح');
        window.location.href = 'https://hussaindev10.github.io/posts/';
    } catch (error) {
        showMessage('فشل تسجيل الدخول: ' + error.message);
    }
});

// التعامل مع إنشاء حساب جديد
signUpButton.addEventListener('click', async () => {
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;

    if (email === '' || password === '') {
        showMessage('يرجى إدخال البريد الإلكتروني وكلمة المرور');
        return;
    }

    try {
        await createUserWithEmailAndPassword(auth, email, password);
        showMessage('تم إنشاء الحساب بنجاح');
        window.location.href = 'https://hussaindev10.github.io/posts/';
    } catch (error) {
        showMessage('فشل إنشاء الحساب: ' + error.message);
    }
});
